asgiref
attr
autobahn
Automat
cffi
channels
colorama
constantly
cryptography
daphne
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
hyperlink
idna
incremental
packaging
Pillow
psycopg2-binary
pyasn
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
python-dotenv
pytz
redis
service-identity
six
sqlparse
Twisted
txaio
typing_extensions
whitenoise
zope.interface
django-verify-email
